/*
  1. Use a more-intuitive box-sizing model.
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: rgb(228, 227, 227);
  transition: 0.3s ease-in-out;
}

a:hover {
  color: rgb(32, 64, 81);
}

ul {
  padding: 0;
}

.nav {
  background-color: rgb(59, 105, 120);
  display: flex;
  justify-content: center;
}
.nav .nav-container {
  max-width: 1500px;
  padding: 0 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  .nav .nav-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 1200px) {
  .nav {
    padding: 0 1em;
  }
}
@media screen and (max-width: 700px) {
  .nav {
    align-items: center;
    padding: 1em 2.5em;
    text-align: center;
  }
}
.nav .hamburger-menu {
  display: none;
}
@media screen and (max-width: 700px) {
  .nav .hamburger-menu {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
  }
}

.nav__list {
  list-style: none;
  display: flex;
  padding: 1em 0;
  gap: 40px;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .nav__list {
    flex-direction: column;
    display: none;
  }
}
.nav__list li {
  padding: 0.5rem 0;
}

.hide {
  display: none;
}

.show {
  display: flex;
}
@media screen and (max-width: 700px) {
  .show {
    display: block;
  }
}

.sections-container {
  text-align: left;
}
@media screen and (max-width: 700px) {
  .sections-container {
    text-align: center;
  }
}

.exercise-container {
  background-color: rgb(228, 227, 227);
  color: #000;
  width: 270px;
  height: 50px;
  max-width: 100%;
  padding: 0.7rem 1rem;
  margin: 0.5em 2em 0.5em 0;
  border-radius: 5px;
  position: relative;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .exercise-container {
    width: 220px;
    text-align: left;
  }
}
.exercise-container .exercise-title {
  text-transform: capitalize;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease-in-out;
}
.exercise-container .exercise-title .exercise-difficulty {
  font-size: 0.7rem;
  padding-right: 3em;
}
.exercise-container .exercise-title:hover {
  color: rgba(0, 0, 0, 0.4);
}
.exercise-container .buttons-container {
  position: absolute;
  height: 100%;
  right: 30px;
  top: 0;
  display: flex;
}
.exercise-container .buttons-container .button-wrapper {
  position: relative;
}
.exercise-container .buttons-container .button-wrapper span {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 0;
  top: 110%;
  color: #000;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  width: 80px;
  font-size: 12px;
  padding: 0.4rem;
  z-index: 2;
}
.exercise-container .buttons-container .button-wrapper .delete-tooltip {
  left: 30px;
}
.exercise-container .edit-button {
  position: absolute;
  width: 50px;
  height: 100%;
  border-radius: 0 5px 5px 0;
  background-color: rgb(59, 105, 120);
  color: #fff;
  cursor: pointer;
  border: 0;
  z-index: 1;
}
.exercise-container .delete-button {
  border: none;
  position: absolute;
  border-radius: 0 5px 5px 0;
  width: 50px;
  height: 100%;
  background-color: rgb(132, 169, 172);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  left: 8px;
}
.exercise-container .edit-button:hover ~ span,
.exercise-container .delete-button:hover ~ span {
  visibility: visible;
  opacity: 1;
}
.exercise-container .edit-button:hover {
  color: rgba(255, 255, 255, 0.6);
}
.exercise-container .delete-button:hover {
  transform: translateX(30px);
  color: #fff;
}

.easy-container,
.medium-container,
.intermediate-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5em 0;
}
.easy-container h2,
.medium-container h2,
.intermediate-container h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid rgba(228, 227, 227, 0.2);
  width: 300px;
}
@media screen and (max-width: 700px) {
  .easy-container h2,
.medium-container h2,
.intermediate-container h2 {
    width: 250px;
  }
}
@media screen and (max-width: 700px) {
  .easy-container,
.medium-container,
.intermediate-container {
    align-items: center;
  }
}

.medium-container {
  align-items: center;
}

.intermediate-container {
  align-items: flex-end;
}
@media screen and (max-width: 700px) {
  .intermediate-container {
    align-items: center;
  }
}

.column-title {
  position: relative;
  max-width: 300px;
}
.column-title button {
  position: absolute;
  right: 0px;
  top: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.column-title button:hover {
  color: #fff;
  background-color: rgba(59, 105, 120, 0.6);
}

main {
  max-width: 1500px;
  padding: 5em 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 700px) {
  main {
    width: 90%;
    padding: 1em;
  }
}

main .sections-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}
@media screen and (max-width: 1200px) {
  main .sections-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  main .sections-container {
    grid-template-columns: 1fr;
  }
}

.sorting-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  padding: 5em 0;
  width: 100%;
  max-width: 1500px;
  justify-self: center;
  justify-items: center;
}
@media screen and (max-width: 1200px) {
  .sorting-section {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
@media screen and (max-width: 700px) {
  .sorting-section {
    grid-template-columns: 1fr;
    padding: 2em 0;
  }
}
.sorting-section .add-exercise-wrapper {
  justify-self: flex-start;
}
@media screen and (max-width: 700px) {
  .sorting-section .add-exercise-wrapper {
    justify-self: center;
    padding-left: 0;
  }
}
.sorting-section .filter-wrapper {
  justify-self: flex-end;
}
@media screen and (max-width: 700px) {
  .sorting-section .filter-wrapper {
    justify-self: center;
    padding-right: 0;
  }
}
.sorting-section button {
  border: none;
  max-width: 100%;
  width: 200px;
  height: 50px;
  background-color: rgb(59, 105, 120);
  color: #fff;
  padding: 0.3em 2em;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.sorting-section button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.add-modal-container,
.edit-modal-container,
.delete-modal-container {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  background-color: rgb(32, 64, 81);
  margin: 2rem auto;
  padding: 2rem;
  width: 600px;
  position: relative;
  border-radius: 5px;
}
@media screen and (max-width: 700px) {
  .content {
    width: 90%;
  }
}
.content form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.content form .submit-field {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}
@media screen and (max-width: 700px) {
  .content form .submit-field {
    width: 90%;
  }
}
.content form input,
.content form textarea {
  padding: 0.7em 1.5em;
  border-radius: 2px;
  border: none;
  background-color: rgb(228, 227, 227);
}
.content form input:focus,
.content form textarea:focus {
  outline: none;
  width: 100%;
}
.content form select {
  padding: 0.5em 0;
  text-align: center;
  background-color: rgb(228, 227, 227);
}
.content form label {
  font-size: 20px;
  padding-bottom: 0.5em;
}
.content form .add-exercise-button {
  width: 200px;
  border: none;
  padding: 0.5em 3em;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(59, 105, 120);
}
.content form .close-button:hover,
.content form .add-exercise-button:hover {
  color: #fff;
}
.content .close-button {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  background-color: rgb(32, 64, 81);
  color: rgb(59, 105, 120);
  cursor: pointer;
}

.delete-modal-container .content {
  background-color: rgb(32, 64, 81);
  margin: 150px auto;
  padding: 2rem;
  width: 400px;
  height: 200px;
  position: relative;
  border-radius: 5px;
}
.delete-modal-container .content .option-buttons {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
.delete-modal-container .content .option-buttons button {
  border: none;
  border-radius: 3px;
  padding: 0.4em 2em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.delete-modal-container .content .option-buttons button:hover {
  color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.container form {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 400px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, rgba(32, 64, 81, 0), rgba(59, 105, 120, 0.3)) 1;
     border-image: linear-gradient(to bottom, rgba(32, 64, 81, 0), rgba(59, 105, 120, 0.3)) 1;
  transition: border-image 0.7s ease-in-out;
  transition: border-image 0.7s ease-in-out, -o-border-image 0.7s ease-in-out;
  margin-bottom: 100px;
}
.container form .group {
  width: 80%;
}
.container form input {
  width: 100%;
  margin: 1em 0;
  padding: 0.5em 1em;
  height: 30px;
  background-color: lightgrey;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  color: #000;
  text-align: center;
}
.container form button {
  border: none;
  justify-self: flex-end;
  padding: 0.5em 3em;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color, color 0.5s ease-in-out;
  border: 2px solid transparent;
  margin-top: 20px;
  color: black;
}
.container form button:disabled:hover {
  cursor: default;
}
.container form button:not(:disabled):hover {
  color: #000;
  background-color: rgba(59, 105, 120, 0.3);
  border: 2px solid black;
}
.container form .no-account {
  font-size: 14px;
  margin-top: 1em;
}
.container form.focused {
  -o-border-image: linear-gradient(to bottom, rgba(32, 64, 81, 0.5), rgba(255, 255, 255, 0.7)) 1;
     border-image: linear-gradient(to bottom, rgba(32, 64, 81, 0.5), rgba(255, 255, 255, 0.7)) 1;
}
@media screen and (max-width: 700px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

.container .register-form {
  height: 500px;
}
.container .register-form button {
  background-color: gray;
}
.container .register-form button:disabled {
  background-color: gray;
  color: #fff;
}
.container .register-form button:not(:disabled):hover {
  border: none;
  color: red;
}
.container .image-container {
  height: 250px;
  width: 250px;
  position: relative;
}
.container .image-container img {
  position: absolute;
  top: 0;
}

form .group p {
  font-size: 12px;
  font-style: italic;
  display: none;
  color: red;
  text-align: right;
}

.container form {
  height: 300px;
}
.container form P {
  font-size: 0.8rem;
}

.activate-account {
  padding: 0;
}

.loading {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 2rem;
  height: 100vh;
  align-items: center;
}
.loading .redirect-message {
  max-width: 500px;
  text-align: center;
}

.loading::after {
  content: "";
  width: 75px;
  height: 75px;
  background: transparent;
  border: 10px solid transparent;
  border-left: 10px solid black;
  border-radius: 50%;
  -webkit-animation: loading 0.7s linear infinite;
          animation: loading 0.7s linear infinite;
}

@-webkit-keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
.exercise-page-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.exercise-page-container .exercise-description-container {
  width: 50rem;
  background-color: rgb(22, 44, 56);
  border-radius: 20px;
  padding: 1rem 2rem;
  resize: both;
}
.exercise-page-container .exercise-description-container .exercise-description h1, .exercise-page-container .exercise-description-container .exercise-description h2, .exercise-page-container .exercise-description-container .exercise-description p {
  padding: 0.5rem 0;
}
.exercise-page-container .exercise-description-container .exercise-description h1, .exercise-page-container .exercise-description-container .exercise-description h2 {
  border-bottom: 1px solid green;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.exercise-page-container .exercise-description-container .exercise-description P {
  font-size: 0.8rem;
}
.exercise-page-container .exercise-description-container .exercise-sample-input label {
  display: inline-block;
  margin: 1rem 0;
}
.exercise-page-container .exercise-description-container .exercise-sample-input .input, .exercise-page-container .exercise-description-container .exercise-sample-input .output {
  margin-bottom: 1rem;
  background-color: black;
  padding: 2rem 1rem;
  font-family: "Source Code Pro", sans-serif;
  border-radius: 5px;
}
.exercise-page-container .exercise-description-container .exercise-sample-input .input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.exercise-page-container .exercise-description-container .exercise-hints .hint {
  margin: 1rem 0;
  background-color: rgb(32, 64, 81);
}
.exercise-page-container .exercise-description-container .exercise-hints .hint-title {
  padding: 0.5em 1em;
  cursor: pointer;
  position: relative;
}
.exercise-page-container .exercise-description-container .exercise-hints .hint-title::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0.9rem;
  right: 1rem;
  border-left: 3px solid rgb(228, 227, 227);
  border-top: 3px solid rgb(228, 227, 227);
  border-bottom: none;
  border-right: none;
  z-index: 3;
  transform: rotate(45deg);
  transition: 0.3s ease-in-out;
}
.exercise-page-container .exercise-description-container .exercise-hints .hint-title:hover::after {
  transform: rotate(-135deg);
}
.exercise-page-container .exercise-description-container .exercise-hints .hint-desc {
  display: none;
  padding: 0.5em 1em;
  transition: 1s ease-in-out;
}
.exercise-page-container .exercise-description-container .exercise-hints .hint-desc.show {
  display: block;
}
.exercise-page-container .exercise-solution-container {
  width: 50rem;
}
.exercise-page-container .exercise-solution-container .exercise-solution-input textarea {
  width: 100%;
  background-color: rgb(22, 44, 56);
  border: none;
  resize: none;
  padding: 1rem;
  color: #fff;
  font-family: "Source Code Pro", sans-serif;
  border-radius: 20px;
}
.exercise-page-container .exercise-solution-container .exercise-solution-input textarea:focus {
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.937rem;
  background-color: rgb(32, 64, 81);
  color: #fff;
}
body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: #BBCCDD;
  border-radius: 4px;
}

.no-account a {
  text-decoration: underline;
}
.no-account a:hover {
  color: rgb(59, 105, 120);
}

.toastr {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-radius: 5px;
  -webkit-animation: opacityDown 3s linear forwards;
          animation: opacityDown 3s linear forwards;
}
.toastr i {
  padding-right: 1em;
}

@-webkit-keyframes opacityDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacityDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=main.css.map */