<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate account</title>
    <style>
        
    </style>
</head>
<body>
    <main class="activate-account">
        <div class="loading">
            <div class="redirect-message">
                <h1>Your account is being created...</h1>
                <p>You will be redirected to the login page, thank you for creating an account.</p>
            </div>
        </div>
        
    </main>
    <script src="../static/js/activate.js"></script>
</body>
</html>