<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ace-builds@1.14.0/css/ace.min.css">
    
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Exercise</title>
</head>
<body>
    <main class="exercise-page-container">
        <section class="exercise-description-container">
            <div class="exercise-description">
                <h2 class="difficulty">Difficulty: Easy</h2>
                <h1 class="exercise-description-title">Min Max</h1>
                <p class="exercise-description-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae sapiente itaque incidunt, asperiores ab a quo ipsum, numquam esse eligendi quam repellat aut nihil assumenda voluptatem quas doloribus totam maiores quae architecto aspernatur, praesentium nemo adipisci! Impedit iste deserunt corporis atque voluptatem voluptatibus, tempore architecto, labore laborum ut ex non.

                </p>
            </div>
            <div class="exercise-sample-input">
                <label for="input">Input:</label>
                <div class="input">
                    <code>array=[5,1,2,5]</code>
                    <code>sequence = [1,2,3]</code>
                </div>
                <label for="output">Output:</label>
                <div class="output">
                    <p>true</p>
                </div>
            </div>
            <div class="exercise-hints">
            
                <div class="hint">
                    <p class="hint-title">#Hint 1</p>
                    <p class="hint-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et magni amet harum! Perferendis doloribus vero consectetur maiores autem suscipit reiciendis distinctio maxime fugiat nostrum. Eaque quis odio nesciunt placeat laudantium!</p>
                </div>
                <div class="hint">
                    <p class="hint-title">#Hint 1</p>
                    <p class="hint-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et magni amet harum! Perferendis doloribus vero consectetur maiores autem suscipit reiciendis distinctio maxime fugiat nostrum. Eaque quis odio nesciunt placeat laudantium!</p>
                </div>
                <div class="hint">
                    <p class="hint-title">#Hint 1</p>
                    <p  class="hint-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et magni amet harum! Perferendis doloribus vero consectetur maiores autem suscipit reiciendis distinctio maxime fugiat nostrum. Eaque quis odio nesciunt placeat laudantium!</p>
                </div>
            </div>
    </section>
    <section class="exercise-solution-container">
        <div class="exercise-solution-header">
            <h1 class="solution-title"></h1>
        </div>
        <div class="exercise-solution-input">
            <textarea name="solution" id="editor" cols="30" rows="10">function doSomething</textarea>
        </div>
    </section>
    </main>


    
    <script src="../static/js/exercises.js"></script>
    <script src="../static/js/exercisePage.js"></script>
    

</body>
</html>