<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="../static/images/Privacy policy-rafiki.svg" alt="" srcset="">
        </div>
        <form>
            
            <div class="group">
                <input 
                type="text"
                for="email"
                name="email"
                placeholder="Enter your email...">
            </div>
            <button type="submit" class="reset-button">Reset Password</button>
        </form>
        <div class="no-account">
            <p>Go back to <a href="../templates/login.html" class="register-link">login here.</a></p>
            <p>Create an account <a href="../templates/register.html" class="reset-password-link">here</a></p>
        </div>
    </div>
    <script src="../static/js/forgot-password.js"></script>
</body>
</html>