.exercise-container {
    background-color: $neutral-light-grey;
    color: #000;
    width: 300px;
    height: 50px;
    max-width: 100%;
    padding: 0.7rem 1rem;
    margin: 0.5em 0;
    border-radius: 5px;
    position: relative;
    font-size: 0.9rem;
    font-weight: $font-regular;
    box-shadow: 0 5px 5px rgba(black, 0.2);

    .exercise-title {
        text-transform: capitalize;
        cursor: pointer;
        width: 100%;
    }
    .exercise-difficulty{
        font-size: 0.8rem;
        padding-left: 1.2em;
    }

    

    .buttons-container {
        position: absolute;
        height: 100%;
        right: 30px;
        top: 0;
        display: flex;
    }

    .buttons-container .button-wrapper {
        position: relative;
    }

    .buttons-container .button-wrapper span {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        left: 0;
        top: 110%;
        color: #000;
        background-color: #fff;
        padding: .5rem;
        z-index: 2;
    }

    .buttons-container .button-wrapper .delete-tooltip {
        left: 30px;
    }

    .edit-button {
        position: absolute;
        width: 50px;
        height: 100%;
        border-radius: 0 5px 5px 0;
        background-color: $primary-blue;
        
        cursor: pointer;
        border: 0;
        z-index: 1;
    }

    .delete-button {
        border: none;
        position: absolute;
        border-radius: 0 5px 5px 0;
        width: 50px;
        height: 100%;
        opacity: 1;
        background-color: $neutral-blue;
        
        cursor: pointer;
        transition: .3s ease-in-out;
        left: 8px;
    }

    .edit-button:hover,
    .delete-button:hover {
        & ~ span {
            visibility: visible;
            opacity: 1;
        }
    }

    .edit-button:hover {
        color: #fff;

    }

    .delete-button:hover {
        transform: translateX(30px);
        color: #fff;
    }
    @include for-mobile-down{
        width: 260px;
    }

}
.exercise-container:hover {
    color: rgba(black, 0.4);
}


.easy-container,
.medium-container,
.intermediate-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        padding-bottom: 0.3em;
        border-bottom: 1px solid rgba($neutral-light-grey, 0.2);
        width: 300px;
    }
    @include for-mobile-down{
        align-items: flex-start;
    }
}

.column-title {
    position: relative;
    max-width: 300px;

    button {
        position: absolute;
        right: 0px;
        top: 10px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }

    button:hover {
        color: #fff;
        background-color: rgba($primary-blue, 0.6);
    }
}