
.sections-container{
    text-align: left;
    @include for-mobile-down{
        text-align: center;
    }
}
a p{
    color:black;
    text-decoration: none;
}
.exercise-container {
    background-color: $neutral-light-grey;
    color: #000;
    width: 270px;
    height: 50px;
    max-width: 100%;
    padding: 0.7rem 1rem;
    margin: 0.5em 2em 0.5em 0;
    border-radius: 5px;
    position: relative;
    font-size: 0.9rem;
    font-weight: $font-regular;
    box-shadow: 0 5px 5px rgba(black, 0.2);
    display: flex;
    align-items: center;
    @include for-mobile-down{
        width: 220px;
        text-align: left;
    }
    
    .exercise-title {
        text-transform: capitalize;
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: .2s ease-in-out;
        .exercise-difficulty{
            font-size: 0.7rem;
            padding-right: 3em;
        }
    }
    .exercise-title:hover{
        color: rgba(#000,0.4);
    }
    

    

    .buttons-container {
        position: absolute;
        height: 100%;
        right: 30px;
        top: 0;
        display: flex;
    }

    .buttons-container .button-wrapper {
        position: relative;
    }

    .buttons-container .button-wrapper span {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        left: 0;
        top: 110%;
        color: #000;
        background-color: #000;
        color:#fff;
        border-radius: 3px;
        text-align: center;
        width: 80px;
        font-size:12px;
        padding: .4rem;
        z-index: 2;
    }

    .buttons-container .button-wrapper .delete-tooltip {
        left: 30px;
    }

    .edit-button {
        position: absolute;
        width: 50px;
        height: 100%;
        border-radius: 0 5px 5px 0;
        background-color: $primary-blue;
        color:#fff;
        cursor: pointer;
        border: 0;
        z-index: 1;
    }

    .delete-button {
        border: none;
        position: absolute;
        border-radius: 0 5px 5px 0;
        width: 50px;
        height: 100%;
        background-color: $neutral-blue;
        cursor: pointer;
        transition: .3s ease-in-out;
        left: 8px;
    }

    .edit-button:hover,
    .delete-button:hover {
        & ~ span {
            visibility: visible;
            opacity: 1;
        }
    }

    .edit-button:hover {
        color:rgba( #fff, 0.6);

    }

    .delete-button:hover {
        transform: translateX(30px);
        color: #fff;
    }
    

}


.easy-container,
.medium-container,
.intermediate-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.5em 0;
    h2 {
        padding-bottom: 0.3em;
        border-bottom: 1px solid rgba($neutral-light-grey, 0.2);
        width: 300px;
        @include for-mobile-down{
            width: 250px;
        }
    }
    @include for-mobile-down{
        align-items: center;
    }
}


.medium-container{
    align-items: center;
    
}
.intermediate-container{
    align-items: flex-end;
    @include for-mobile-down{
        align-items: center;
    }
}

.column-title {
    position: relative;
    max-width: 300px;

    button {
        position: absolute;
        right: 0px;
        top: 10px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }

    button:hover {
        color: #fff;
        background-color: rgba($primary-blue, 0.6);
    }
}