.container{
    .register-form{
        height: 500px;
        button{
            background-color:gray;
            
        }
        button:disabled {
            background-color:gray;
            color:#fff;
        }
        button:not(:disabled):hover{
            border: none;
            color:red;
        }
    }
    .image-container {
        height: 250px;
        width: 250px;
        position: relative;

        img {
            position: absolute;
            top: 0;
        }
    }
}

form {
    .group {
        p {
            font-size: 12px;
            font-style: italic;
            display: none;
            color:red;
            text-align: right;
        }
    }
}