.sorting-section{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:1em;
    padding: 5em 0;
    width: 100%;
    max-width: 1500px;
    justify-self: center;
    justify-items: center;
    
    @include for-tablet-down{
        grid-template-columns: 1fr 1fr ;
        gap:50px;
    }
    @include for-mobile-down{
        grid-template-columns: 1fr;
        padding: 2em 0;
        
    }
    .add-exercise-wrapper{
       justify-self: flex-start;
        @include for-mobile-down{
            justify-self: center;
            padding-left: 0;
        }
    }
    
    .filter-wrapper{
        justify-self: flex-end;
        @include for-mobile-down{
            justify-self: center;
            padding-right: 0;
        }
    }
    button{
        border: none;
        max-width: 100%;
        width: 200px;
        height: 50px;
        background-color: $primary-blue;
        color:#fff;
        padding:0.3em 2em;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    button:hover{
        color: rgba(#000, 0.5);
    }
}
