@import 'resets';
@import 'variables';
@import 'responsiveness';
@import 'navbar';
@import 'exercise-card';
@import 'exercise-container';
@import 'sorting-section';
@import 'exercise-modal';
@import 'authentication';
@import 'register';
@import 'login';
@import 'forgot-password';
body {
    font-family: $font-family;
    font-size: $font-size;
    background-color: $background-color;
    color: #fff;
  
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #BBCCDD;
        border-radius: 4px;
    }
}

.no-account{
    a{
        text-decoration: underline;
    }
    a:hover{
        color:$primary-blue;
    }
}

.toastr {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1em;
    border-radius: 5px;
    animation: opacityDown 3s linear forwards;
    i{
        padding-right: 1em;
    }
}

@keyframes opacityDown {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}